<div class="container">
	<div class="row" novalidate>
		<div class="col-xs-8 col-xs-offset-2 box">
			<h1>{{ title }} </h1>
			<form name="form" ng-submit="submit(form.$valid)" novalidate>
				<fieldset>
					<p id="status"></p>
					<div class="form-group">
						<label for="title">Title</label> 
						<input name="title" type="text" placeholder="Enter a title" class="form-control" minlength="2" maxlength="30" required ng-model="slideShow.title">
						<p ng-show="form.$submitted && form.title.$error.required" class="help-block">The field must not be empty</p>
						<p ng-show="form.$submitted && form.title.$error.minlength" class="help-block">The value must have at least 2 characters</p>
						<p ng-show="form.title.$error.maxlength" class="help-block">The value must have no more than characters</p>
					</div>

					<div class="form-group">
						<label for="slideShowStartDateTime">Start Datetime</label>
						<input id="slideShowStartDateTime" name="slideShowStartDateTime" required type="text" class="datetimepicker form-control" placeholder="Slideshow start datetime" date-picker="startDateTime"  ng-model="slideShow.startDateTime">
						<p ng-show="form.$submitted && form.slideShowStartDateTime.$error.required" class="help-block">The field must not be empty</p>
					</div>
					<div class="form-group">
						<label for="slideShowEndDateTime">End Datetime</label>
						<input id="slideShowEndDateTime" name="slideShowEndDateTime" required type="text" class="datetimepicker form-control" placeholder="Slideshow end datetime" date-picker="endDateTime" ng-model="slideShow.endDateTime">
						<p ng-show="form.$submitted && form.slideShowEndDateTime.$error.required" class="help-block">The field must not be empty</p>
					</div>

				</fieldset>
				<div class="actions pull-right">
					<input type="submit" class="btn btn-primary" value="Send">
					or <a href="dashboard.html" class="btn btn-default"  ng-click="reset()">Cancel</a>
				</div>
			</form>
		</div>
	</div>
</div>
