<div class="container">
	<!--  
	<p><a href="#/diaporama/create">Create diaporama</a></p>
	<p><a href="#/diaporama/list">List of diaporamas</a></p>
	-->
	<div class="container">
		<h1 id="homeTitle">
			{{ slideshows.length }} Slideshows found :
		</h1>
		<div id="actions" class="form-horizontal">
			<div class="pull-left">
				<form id="searchForm" action="" method="GET" class="form-inline">
					<input type="search" id="searchbox" name="search" class="form-control" placeholder="" />
					<input type="submit" id="searchsubmit" value="search" class="btn btn-primary" />
				</form>
			</div>
			<div class="pull-right">
				<a class="btn btn-success" id="addSlideshow" href="#/slideshow/add">Add slideshow</a>
				<a class="btn btn-default" id="editComputer" href="#" onclick="$.fn.toggleEditMode();">Delete</a>
			</div>	
		</div>
	</div>

	<form id="deleteForm" action="computer/delete" method="POST">
		<input type="hidden" name="selection" value="">
	</form>

	<div class="container" style="margin-top: 10px;">
		
		<div class="bs-component">
              <div class="jumbotron" ng-repeat="slideshow in slideshows">
                <h2><a href="#/slideshow/edit/{{ slideshow.id }}">{{ slideshow.title }} ( {{ slideshow.startDateTime }} - {{ slideshow.endDateTime }} )</a></h2>
                <ul class="list-inline" ng-if="slideshow.contents.length > 0">
                	<li ng-repeat="content in slideshow.contents">
                		<a href="#/slideshow/content/edit/{{ content.id }}"><!-- <span aria-hidden="true" style="" class="glyphicon glyphicon-pencil modify-pencil">--></span><img style="width:100px; height:100px" alt="img" src="{{ content.url }}"></a>
                	</li>
                </ul>
                <p ng-if="slideshow.contents.length == 0">No contents</p>
                <a class="btn btn-success" id="addSlideshow" href="#/slideshow/{{ slideshow.id }}/content/add/">Add a content</a>
              </div>
            <div class="btn btn-primary btn-xs" id="source-button" style="display: none;">&lt; &gt;</div></div>
</div>