<div class="container">
  <div class="row">
    <div class="pull-left">
      <h4 id="tables"><a href="#/home">Dashboard</a> > Home </h4>
    </div>
    <div class="pull-right">
      <h5>
        <a href="#/bundle/add"> Add Bundle <span aria-hidden="true" class="glyphicon glyphicon-folder-close"></span></a>
      </h5>
    </div>
  </div>
  <div ng-if="error" class="alert alert-danger">{{ error }}</div>
  <hr>
  <div class="row">
    <table class="table table-striped table-hover ">
      <thead>
      <tr>
        <th>Name</th>
        <th>Start DateTime</th>
        <th>End DateTime</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="bundle in bundles">
        <td><a href="#/bundle/{{ bundle.tag }}/media"><span aria-hidden="true" class="glyphicon glyphicon-folder-close"></span> {{ bundle.name }} </a></td>
        <td>{{ bundle.validity.start }}</td>
        <td>{{ bundle.validity.end }}</td>
        <td>
          <button class="btn-default btn btn-sm" ng-click="remove(bundle.uuid);" ><span aria-hidden="true" class="glyphicon glyphicon-remove"></span></button>
          <a class="btn-default btn btn-sm" href="#/bundle/edit/{{ bundle.tag }}" ><span aria-hidden="true" class="glyphicon glyphicon-edit"></span></a>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
