<div class="container">
  <div ng-if="error" class="alert alert-danger">{{ error }}</div>
  <div class="row">
    <div class="col-xs-8 col-xs-offset-1 box">
      <form class="form-horizontal" name="form" ng-submit="login(form.$valid)" novalidate>
        <fieldset>
          <legend>{{ "ACTIONS.LOGIN" | translate }}</legend>
          <p ng-show="loading">{{ "ACTIONS.SENDING" | translate }}<img src="images/loader.gif"></p>
          <div class="form-group">
            <label for="username">{{ "USER.USERNAME" | translate }}</label>
            <input id="username" type='text' name="username" required class="form-control" ng-model="username">
            <div ng-show="form.$submitted && form.username.$error.required" class="alert alert-danger">{{ "ERRORS.FIELDS.EMPTY" | translate }}</div>
          </div>

          <div class="form-group">
            <label for="password">{{ "USER.PASSWORD" | translate }}</label>
            <input id="password" type="password" name="password" required  class="form-control" ng-model="password">
            <div ng-show="form.$submitted && form.password.$error.required" class="alert alert-danger">{{ "ERRORS.FIELDS.EMPTY" | translate }}</div>
          </div>

          <div class="actions pull-right">
            <input type="submit" value="{{ 'ACTIONS.LOGIN' | translate }}" class="btn btn-primary" />
          </div>
        </fieldset>
      </form>
    </div>
  </div>
</div>
