<!doctype html>
<html lang="en" ng-app="dashboardFrontApp">
<head>
<meta charset="utf-8">
<title>Dashboard</title>
<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
<link rel="stylesheet" href="css/app.css">
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<script src="scripts/controllers/diaporamaControllers.js"></script>
<script src="scripts/controllers/contentControllers.js"></script>
<script src="scripts/app.js"></script>
<script src="bower_components/jquery/dist/jquery.min.js"></script>
</head>
<body>
	<header class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<a class="navbar-brand" href="dashboard">Dashboard</a>
		</div>
	</header>

	<section ng-view></section>
</body>
</html>
