<div class="container">
  <div class="row">
    <div class="pull-left">
      <h4 id="tables"><a href="#/home">Dashboard</a> > <a href="#/bundle/{{ bundle.uuid }}">{{ bundle.name }}</a>  > {{ nav }} </h4>
    </div>
  </div>
  <div ng-if="error" class="alert alert-danger">{{ error }}</div>
  <hr>
  <div class="row">
    <div class="col-xs-8 col-xs-offset-1 box">
      <form name="form" ng-submit="submit(form.$valid)" novalidate>
        <fieldset>
          <legend>{{ title }}
            <span ng-if="media.mediaType == 'IMAGE'" class="glyphicon glyphicon-picture"></span>
            <span ng-if="media.mediaType == 'VIDEO'" class="glyphicon glyphicon-film"></span>
            <span ng-if="media.mediaType == 'WEB'" class="glyphicon glyphicon-link"></span>
            {{  media.name }}
          </legend>

          <p ng-show="loading">Sending ... <img src="images/loader.gif"></p>

          <div class="form-group">
            <label for="name">Name</label>
            <input name="name" id="name" required type="text" class="form-control" placeholder="Name" ng-model="media.name">
            <div ng-show="form.$submitted && form.name.$error.required" class="alert alert-danger">The field must not be empty</div>
          </div>

          <div class="form-group">
            <label for="mediaType">Content Type</label>
            <select id="mediaType" name="mediaType" class="form-control" required ng-model="media.mediaType">
              <option value="">Select a Type</option>
              <option value="IMAGE" ng-selected="media.mediaType === 'IMAGE'">Image</option>
              <option value="VIDEO" ng-selected="media.mediaType === 'VIDEO'">Video</option>
              <option value="WEB" ng-selected="media.mediaType === 'WEB'">Web</option>
            </select>
            <div ng-show="form.$submitted && form.mediaType.$error.required" class="alert alert-danger">The field must not be empty</div>
          </div>

          <div ng-show="media.mediaType == 'WEB'" class="form-group">
            <label for="url">URL</label>
            <input name="url" id="url" type="text" class="form-control" ng-required="media.mediaType === 'WEB'" placeholder="URL" ng-model="media.url">
            <div ng-show="form.$submitted && form.url.$error.required" class="alert alert-danger">The field must not be empty</div>
          </div>

          <div class="form-group">
            <label for="duration">Duration (seconds)</label>
            <input name="duration" id="duration" type="text" class="form-control" placeholder="Duration (seconds)" ng-model="media.duration">
          </div>

          <div class="form-group">
            <label for="mediaValidityStart">Start Datetime</label>
            <input id="mediaValidityStart" name="mediaStartDateTime" ng-pattern="regexDate" type="text" date-picker="start" class="datetimepicker form-control" placeholder="media start datetime" ng-model="media.validity.start">
          </div>
          <div class="form-group">
            <label for="mediaValidityEnd">End Datetime</label>
            <input id="mediaValidityEnd" name="bundleValidityEnd" type="text" class="datetimepicker form-control" placeholder="media end datetime" date-picker="end" ng-model="media.validity.end">
          </div>

          <div class="box" ng-show="media.mediaType != 'WEB'">
            <input name="file "type="file" required valid-file="file" file-model="file" />
            <div ng-show="form.$submitted && form.file.$error.required" class="alert alert-danger">The field must not be empty</div>
          </div>
        </fieldset>
        <div class="actions pull-right">
          <input type="submit" class="btn btn-primary" value="Send">
          or <a href="#/bundle/{{bundle.tag}}/media" class="btn btn-default"  ng-click="reset()">Cancel</a>
        </div>
      </form>
    </div>
  </div>
</div>
