<div class="container">
	<div class="row" novalidate>
		<div class="col-xs-8 col-xs-offset-2 box">
			<h1>{{ title }}</h1>
			<form name="form" ng-submit="submit(form.$valid)" novalidate>
				<fieldset>
					<img ng-show="content['@type'] != 'WebContent' && content.id" style="width:150px; height:150px" alt="img" src="{{ content.url }}">
					<pre>{{ content['@type']}}</pre>
					<div class="form-group">
						<label for="contentType">Content Type</label>
						<select name="type" class="form-control" required ng-model="content['@type']">
							<option value="">Select a Type</option>
							<option value="ImageContent" ng-selected="content['@type'] == 'ImageContent'">Image</option>
							<option value="VideoContent" ng-selected="content['@type'] == 'VideoContent'">Video</option>
							<option value="WebContent" ng-selected="content['@type'] == 'WebContent'">Web Content</option>
						</select>
						<p ng-show="form.$submitted && form.type.$error.required" class="help-block">The field must not be empty</p>
					</div>

					<div ng-show="content['@type'] == 'WebContent'" class="form-group">
						<label for="url">URL</label>
						<input name="url" id="url" type="text" class="form-control" ng-required="content['@type'] == 'WebContent'" placeholder="URL" ng-model="content.url">
						<p ng-show="form.$submitted && form.url.$error.required" class="help-block">The field must not be empty</p>
					</div>

					<pre>{{ content.durationInSlideShow }}</pre>
					<div class="form-group">
						<label for="durationInSlideShow">Duration (seconds)</label>
						<input name="durationInSlideShow" id="durationInSlideShow" type="text" class="form-control" placeholder="Duration (seconds)" ng-model="content.durationInSlideShow">
					</div>

					<div class="box" ng-show="content['@type'] != 'WebContent'">
					<input style="display:none;" type="file" id="file-2" class="inputfile inputfile-2" file-model="file"  />
					<label for="file-2"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="17" viewBox="0 0 20 17"><path d="M10 0l-5.2 4.9h3.3v5.1h3.8v-5.1h3.3l-5.2-4.9zm9.3 11.5l-3.2-2.1h-2l3.4 2.6h-3.5c-.1 0-.2.1-.2.1l-.8 2.3h-6l-.8-2.2c-.1-.1-.1-.2-.2-.2h-3.6l3.4-2.6h-2l-3.2 2.1c-.4.3-.7 1-.6 1.5l.6 3.1c.1.5.7.9 1.2.9h16.3c.6 0 1.1-.4 1.3-.9l.6-3.1c.1-.5-.2-1.2-.7-1.5z"/></svg> <span>Choose a file&hellip;</span></label>
					</div>

				</fieldset>
				<div class="actions pull-right">
          <a class="btn btn-danger delete-buttons" href="" ng-click="remove(content.id);" >Delete</a>
          or
					<input type="submit" class="btn btn-primary" value="Send">
					or <a href="dashboard.html" class="btn btn-default"  ng-click="reset()">Cancel</a>
				</div>
			</form>
		</div>
	</div>
</div>
